.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.My-header {
  background-color: rgb(218, 156, 156);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.My-Footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.My-content{
  background-color: rgb(199, 133, 103);
  font-family: 'Courier New', Courier, monospace; 
  padding: 2em;
  border-radius: 15px;
  border: 2px solid #415680;
  margin-bottom: 1em;
  text-align: center;
}



